.idea
zenika-labs-sa.json


### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# tf plan files
**.tfplan
**.plan.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

